.recruitment {
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  font-size: 22px;
  text-align:center;
  background-color: #f5f5f5;
}

h1 {
  font-family: 'Spartan', sans-serif;
  font-size: 35px;
}

#mission{
  text-align: center;
}

#mission p{
  line-height: 1.7;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#community {
  text-align: center;
}

#community p{
  line-height: 1.7;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#contact-us {
  text-align: center;
}

#contact-us p{
  line-height: 1.7;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.home {
  width:85%;
  float:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.image{
  width: 40%; display: block; margin-left: auto; margin-right: auto;
}

.image2{
  width: 50%; display: block; margin-left: auto; margin-right: auto;
}

.image1{
  width: 97.5%; display: block; margin-left: auto; margin-right: auto;
}

@media screen and (max-width: 700px) {

  .home {
    width:95%;
    float:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  }

  .image {
    width: 95%; display: block; margin-left: auto; margin-right: auto;

  }

  .image2{
    width: 100%; display: block; margin-left: auto; margin-right: auto;
  }

}

* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  font-family: 'Spartan', sans-serif;
  max-width: 100%;
}

.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
